python-dotenv~=1.1.1
discord~=2.3.2
mysql-connector-python~=9.4.0

gTTS~=2.5.4
mutagen~=1.47.0

deep-translator~=1.11.4

wikipedia~=1.4.0
py7zr
py7zip
pyunpack
patool

yt-dlp~=2025.7.21

ffmpeg~=1.4
requests~=2.32.4

pydub~=0.25.1

urllib3~=2.5.0
